body{
	padding:0;
	margin:0
}

form{
	margin-bottom:0
}

.ui-panelgrid,.ui-panelgrid-cell,.ui-widget-content{
	border-style: inherit!important;
}

.ui-menu{
	padding:0!important;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}